<div ng-controller="AdminSearchController as model">
    <div id="search-panel">
        <p>Search results will include all users whose username, first name, or last name contain your query string.</p>

        <div ng-show="model.error" class="alert alert-danger">
            {{model.error}}
        </div>

        <form class="form-inline">
            <div class="form-group">
                <label class="sr-only" for="query">Search</label>
                <input type="text" class="form-control" id="query" ng-model="model.query">
            </div>
            <div class="form-group">
                <a class="btn btn-primary" ng-click="model.search()">Search</a>
            </div>
        </form>
    </div>

    <p ng-show="model.message" class="bg-success message">{{model.message}}</p>

    <div ng-if="model.results.length > 0">
        <table class="table table-hover table-friends">
            <thead>
            <tr>
                <th>#</th>
                <th>Username</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Email</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="result in model.results">
                <th scope="row">{{$index + 1}}</th>
                <td>
                    <a ng-if="result._id !== model.user._id" href="#/user/{{result._id}}">{{result.username}}</a>
                    <span ng-if="result._id === model.user._id">{{result.username}}</span>
                </td>
                <td>{{result.firstName}}</td>
                <td>{{result.lastName}}</td>
                <td>{{result.email}}</td>
                <td>
                    <a ng-if="result._id !== model.user._id" title="Update User" ng-click="model.openModal(result._id)">
                        <i class="fa fa-pencil-square-o"></i>
                    </a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <!-- Modal -->
    <div share-modal="{{model.showModal}}" class="modal fade" tabindex="-1" data-backdrop="static"
         data-keyboard="false">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" ng-click="model.closeModal()"><span>&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Update User</h4>
                </div>
                <div class="modal-body">
                    <form>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" ng-click="model.closeModal()">Cancel</button>
                    <button type="button" class="btn btn-primary" ng-click="model.updateUser()">Share</button>
                </div>
            </div>
        </div>
    </div>
</div>