<div>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#/home">
                    <i class="fa fa-hacker-news fa-lg"></i>HackerFeed
                </a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#/profile">Profile</a></li>
                    <li><a href="#/logout">Logout</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container">
        <div class="row">
            <div id="main-panel" class="col-xs-12 col-sm-8 col-sm-offset-2">

                <p ng-show="model.message" class="bg-success message-home">{{model.message}}</p>

                <ul class="nav nav-tabs">
                    <li class="active">
                        <a data-toggle="tab" href data-target="#search">Search</a>
                    </li>
                    <li>
                        <a data-toggle="tab" href data-target="#create">Admins</a>
                    </li>
                </ul>

                <!-- Tab Panes -->
                <div class="tab-content">
                    <div class="tab-pane fade in active" id="search">
                        <div ng-include src="'/views/include/admin/search.view.client.html'"></div>
                    </div>
                    <div class="tab-pane fade" id="create">
                        <div ng-include src="'views/include/admin/create.view.client.html'"></div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
