<div>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">
                    <i class="fa fa-hacker-news fa-lg" aria-hidden="true"></i>HackerFeed
                </a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#">Profile</a></li>
                    <li><a href="#">Friends</a></li>
                    <li><a href="#">Logout</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <nav class="navbar navbar-default navbar-fixed-top navbar-second">
        <div class="container-fluid">
            <div class="navbar-text pull-right">
                <a href="#" class="navbar-link"><i class="fa fa-share-alt fa-lg action"></i></a>
                <a href="#" class="navbar-link"><i class="fa fa-floppy-o fa-lg action"></i></a>
                <a href="#" class="navbar-link"><i class="fa fa-comments fa-lg action"></i></a>
            </div>
            <div class="navbar-header">
                <span class="navbar-brand"><strong>{{model.item.title}}</strong></span>
            </div>
        </div>
    </nav>

    <div class="container-fluid" id="item-panel">

        <div class="embed-responsive" embed-responsive-full>
            <iframe class="embed-responsive-item" ng-src="{{model.item.url}}"></iframe>
        </div>

    </div>
</div>