<div ng-controller="BoardController as child4">
    <p ng-if="child4.items.length === 0" class="bg-success message">Click on any of the other three tabs above to begin saving and sharing posts!</p>

    <div class="list-panel">
        <div ng-if="child4.items.length > 0">
            <div ng-repeat="item in child4.items">
                <div class="panel">
                    <p ng-if="item.username" class="list-p">
                        <strong>{{item.username}}</strong> shared a post:
                    </p>
                    <p ng-if="!item.username" class="list-p">
                        <strong>You</strong> saved a post:
                    </p>
                    <a class="action-link" href="#/comments/{{item.post}}"><i class="fa fa-comments fa-lg fa-pull-right action"></i></a>
                    <a href="{{item.url}}" target="_blank">{{item.title}}</a>
                </div>
            </div>
        </div>
    </div>

    <a href class="btn btn-primary" ng-click="child4.refresh()"><i class="fa fa-refresh"></i> Refresh</a>
</div>